<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodePin</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/pins.style.css">
</head>

<body>
  <h1>CodePins</h1>
  <a href="/pins">Go to my pins</a>
  <div id="snippetsContainer">
    <% snippets.forEach( el=> { %>
      <div class='todoItem' data-id='<%=el._id%>'>
        <h3>
          <%= el.title %>
        </h3>
        <div class='wrapCode code'>
          <%= decodeURIComponent(el.snippet) %>
        </div>
        <h4>
          <%= el.language %>
        </h4>
        <p>
          <%= el.description %>
        </p>
        <button class='del'> Delete </button>
      </div>
      <% }) %>
  </div>



  <a href="/logout">Logout</a>

  <script src="js/main.js"></script>
</body>

</html>